:root {
	--main-font: "Roboto", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	--title-white-theme-color: #212121;
	--title-dark-theme-color: #ffffff;
	--text-white-theme-color: #757575;
	--text-dark-theme-color: #ffffff;
	--accent-color: #2196F3;
}

body {
	font-family: var(--main-font);
	font-style: normal;
}
.list {
	list-style: none;
 }

.link {
	text-decoration: none;
}

.address {
	font-style: normal;
}

/* ========== header ========== */
.navigation-logo {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	color: #2196F3;
}

.navigation-logo > span {
	color: #000000;
}

.navigation-list-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.02em;
	color: var(--title-white-theme-color);
}

.header-address-list-mail,
.header-address-list-tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.02em;
	color: var(--text-white-theme-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-address-list-mail:hover,
.header-address-list-mail:focus,
.header-address-list-tel:hover,
.header-address-list-tel:focus {
	color: var(--accent-color);
}

.active {
	color: var(--accent-color);
}
/* ========== end header ========== */

/* ========== hero section ========== */
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.364;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--title-dark-theme-color);
}

.hero-btn {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	background-color: #2196F3;
}
/* ========== end hero section ========== */

/* ========== benefits section ========== */
.benefits-list-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-white-theme-color);
}

.benefits-list-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--text-white-theme-color);
}
/* ========== end benefits section ========== */

/* ========== about us section ========== */
.about-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.167;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-white-theme-color);
}
/* ========== end about us section ========== */

/* ========== our team section ========== */
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.167;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-white-theme-color);
}

.team-list-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.186;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-white-theme-color);
}

.team-list-position {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.186;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--text-white-theme-color);
}
/* ========== end our team section ========== */

/* ========== portfolio section ========== */
.portfolio-filter-list-btn {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
	background-color: #F5F4FA;
}
.portfolio-filter-list-btn:hover,
.portfolio-filter-list-btn:focus {
	color: #FFFFFF;
	background-color:  #2196F3;
}

.portfolio-list-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-white-theme-color);
}

.portfolio-list-subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
	color: var(--text-white-theme-color);
}
/* ==========end portfolio section ========== */

/* ========== footer ========== */
.footer-logo {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
	color: #2196F3;
}

.footer-logo span {
	color: #ffffff;
}

.footer-address-list-address {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: var(--text-dark-theme-color);
}

.footer-address-list-mail,
.footer-address-list-tel {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.footer-address-list-address:hover,
.footer-address-list-address:focus,
.footer-address-list-mail:hover,
.footer-address-list-mail:focus,
.footer-address-list-tel:hover,
.footer-address-list-tel:focus {
	color: var(--accent-color);
}
/* ========== end footer ========== */